body{
    display: grid;
    grid-template-rows: 20% 1fr 2% 2%;
    margin: 0;
}





/* HEADER */
nav {
    display: grid;
    justify-content: center;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, .4);
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 50px 0;
    
}

nav ul h1{
    display: none;
}

nav ul li {
    display: grid;
    justify-items: center;
    list-style: none;

    padding: 12px 0px 16px 0px;
    margin: 0 8px;

    cursor: pointer;
    transition: 0.2s;
    border-radius: 25px;
}

nav ul li:hover {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
    color: black;
}

nav ul li a{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5px 0 5px;
    justify-content: center;
}

nav ul li:hover a{
    color: rgb(0, 0, 0);
}

nav ul li a img {
    width: 100px;
    height: 50px;  
}












/* MAIN PARTIE */
main{
    display: grid;
    grid-template-columns: 5% 55% 1fr 30% 5%;

}

section {
background-color: rgba(0, 0, 0, .4);
}

.Derniers_chapitres{
    grid-column: 2;
}

.Top_mangas{
    grid-column: 4;
}











/* FOOTER */


footer{
    grid-row: 4;
    background-color: rgba(0, 0, 0,0.4);
}

footer p{
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}











@media screen and (max-width: 767px) {

}